
.recipe__card {

	&__image {
		background-color: $secondaryGrey;
		border-radius: 5px 5px 0 0;
		max-height:100%;;
		max-width:100%;
	}

	&__section {
		padding: 0.5rem 1rem 2rem 1rem;
		background-color: $primaryGrey;
		border-radius: 0 0 5px 5px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		font-size: 8px;
		margin: 0;
		&__title{
			font-size: 20px;
		}
		&__time {
			flex-direction: row-reverse;
			font-size: 12px;
		}
	}

	&__aside {
		@include makeAGrid(repeat(2, 1fr), 1fr, 0.5rem);
		height: 110px;
		font-size: 12px;
	}

	&__list {
		align-self: start;
		font-size: 10px;
		justify-self: start;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__description {
		align-self: start;
		height: 118px;
		justify-self: start;
		margin: 0;
		font-size: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		width: 100%;
	}
	
	
}


